.contenedor .operator{
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    gap: 4rem;

}


.contenedor .operator .enterprise {
   display: flex;
        gap: 2rem;
        margin-top: 3rem;
}

.contenedor .operator .enterprise img{
    width: 400px;
    height: auto;
    border-bottom-right-radius: 20px;
    border-top-left-radius:20px ;
  
}




 .description {


    justify-content: center;
    text-align: justify;

    margin-top: 3rem;
}

.descriptionoperator button {

    width: 250px;
    height: 50px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  
    font-size: 1.2rem;
}

.descriptionoperator button a{
    text-decoration: none;
    color: white;
}

@media (max-width: 390px)and (max-width:450px){
.contenedor{
    margin-left: 10px;
}
.contenedor h1{
    font-size:16px;
    text-align: center;

}
.description p{
    text-align: justify;
    margin-left: 10px;
    font-size: 14px;
    margin-right: 15px;
}

.description h2{
    text-align: center;
    margin-left: 10px;
    font-size: 16px;
}


.description button{
    margin-left: 10px;
}

.contenedor .operator .enterprise img{
    width: 300px;
    margin-left: 20px;
}
}